@import "../variables/colors";


.placement-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m--20{
    margin: 20px;
}
.media-design{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.f--30{
    font-size: 40px;
}
.card-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: $card-bgc;
    background-position: 50%;
    object-position: center;
    margin-left: 100px;
    border: 2px solid black;
    
}
.card-main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    margin: 50px; 
    margin-right: 100px;
    font-size: 25px;
    
   
    
   
}
.sec-card-design{
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 250px;
    transform: translateY(100px);

}



header{
    background-image: url(https://preview.colorlib.com/theme/diner/img/slider-1.jpg.webp);
    background-position: 50%;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    opacity: 100%;
    
    .navbar-1{
        background-color: $navbar-1;
        width: 100%;
        height: 60px;
        

        
        
        a{
            text-decoration: none;
            color: $navbar-a-color;
            font-family: 'Dancing Script', cursive;
            font-size: 20px;
            &:hover{
               color: $navbar-a-hover;
               
            }
        }
        
        
       
    }
    .header-main-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script', cursive;
        margin-top: 100px;
        font-size: 50px;
        color: $header-main-texts;
       
    }
}
.cards{
    .card-secondary-text{
        font-family: 'Dancing Script', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Satisfy', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        font-size: 20px;
        
       
    }
    
    
}
.sec-card-main-text{
    .sec-card-first{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        margin-top: 50px;
        font-family: 'Dancing Script', cursive;

        
        
    }
    .sec-card-second{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $navbar-a-hover;
        font-size: 20px;
        margin-top: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
            }
           
           
 }
 .image-design{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
 }
.sec-cards{
    transform: translateY(100px);
    .box-1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        color: white;
        width: 250px;
        height: 300px;
        padding: 15px;
        .sec-card-main-text{
            font-size: 20px;
            font-weight: bold;
            font-family: 'Playfair Display', serif;
            
            
        }
        .sec-card-money-mark{
            font-size: 20px;
            color: $card-money-mark;
        }
        
        
    }
}
.about-chefs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(150px);
    .main-text-chefs{
        font-size: 20px;
        transform: translateY(150px);
        font-family: 'Satisfy', cursive;




    }
    .chef-img{
        width: 90px;
        height: 90px;
        border-radius:50%;
        transform: translateY(90px);

    }
    .sec-text-chef{
        transform: translateY(200px);
        .chef-name{
            font-size: 20px;
            font-weight: bolder;
        }
        .chef-name-sec{
            transform: translateX(10px);
        }
    }
    .rounds{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(200px);
        gap: 20px;
        .round-1{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $card-bgc;
        }
        .round-2{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $card-bgc;   
        }
    }
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 4; }
.div2 { grid-area: 1 / 4 / 5 / 6; }
.div3 { grid-area: 1 / 6 / 5 / 7; }
.div4 { grid-area: 3 / 1 / 7 / 2; }
.div5 { grid-area: 3 / 2 / 7 / 4; }
.div6 { grid-area: 5 / 4 / 7 / 7; }

.cards-grid{
    transform: translateY(400px);
    .card-img-1{
        width: 600px;
        height: 300px;
        object-fit: cover;
    }
    .div2{
        background-color: black;
        width: 500px;
        height: 600px;
        transform: translateX(-125px);
        .third-card-design-main{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $navbar-a-color;
            font-family: 'Cormorant Garamond', serif;
            transform: translateY(50px);
            font-size: 40px;
            font-weight: bold;

        }
        .third-card-design-sec{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: $navbar-a-color;
            font-size: 25px;
            font-family: 'Cormorant Garamond', serif;
            transform: translateY(50px);
            padding: 20px;
            font-weight: lighter;   
        }
        
    }
    .card-button{
        cursor: pointer;
        display: flex;
        justify-self: center;
        align-items: center;
        transform: translateY(100px);
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        background-color: black;
        color: $card-bgc;
        border: 3px solid $card-bgc;
        &:hover{
            background-color: $card-bgc;
            color: $navbar-a-color;
        }
        

    }
}






